:root {
	--bg-img: url("https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	color: #123456;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: var(--bg-img);
	/* overflow-y: scroll; */
}

header {
	padding: 1em;
}

#graph {
	width: clamp(300px, 100%, 700px);
	height: clamp(200px, 50%, 500px);
	margin: auto;
}
#graph .main-svg {
	width: 100%;
	height: 100%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-img: url("https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	}
	body {
		color: #fedcba;
	}
}
.buttons-img {
	max-width: 94%;
}
#faq-buttons li {
	list-style: none;
}
